body {
    background-color: #eeeeee;
}

.header__inner {
    padding: 0 0 0 30px;
    height: 120px;
    display: flex;
    align-items: center;
}

.header__inner h1 {
    margin: 0;
    font-size: 36px;
    color: #3560F6;
}

.auth__content {
    width: 400px;
    margin: 15vh auto 0;
    padding: 30px 0 0 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 3px #a2a2a2;
}

.auth__message {
    margin: 0 auto 0;
    width: 90%;
    height: 70px;
    font-size: 15px;
    font-weight: bold;
}

.auth__message p {
    text-align: center;
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .auth__content {
        width: 300px;
    }
}