.detail__content {
    position: relative;
    margin: 30px 0 0 0;
    padding: 0 0 0 30px;
}

.restaurant__content {
    width: 40vw;
}

.restaurant__back-link button {
    height: 30px;
    width: 30px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0.5px #a2a2a2;
}

.restaurant__content h2 {
    display: inline;
    font-size: 25px;
    margin: 0 0 0 10px;
}

.restaurant__img {
    width: 100%;
    margin: 10px 0 0 0;
}

.restaurant__img img {
    width: 100%;
}

.restaurant__tag {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.restaurant__text {
    margin: 20px 0 0 0;
    font-size: 14px;
}

.reservation__content {
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 40vw;
    height: calc(100% + 60px);
    background-color: #3560F6;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0.5px #a2a2a2;
}

.reservation__content h2 {
    color: #ffffff;
    font-size: 25px;
    margin: 30px;
}

.reservation__form-input {
    margin: 0 30px 0;
}

.reservation__form-input input {
    width: 10vw;
    margin: 0 0 15px 0;
    border-radius: 5px;
    padding: 4px;
    border: none;
}

.reservation__form-input select {
    width: 32vw;
    margin: 0 0 15px 0;
    border-radius: 5px;
    padding: 4px;
    border: none;
}

.reservation__confirmation {
    width: 30vw;
    margin: 0 30px 0;
    background-color: #5580f7;
    border-radius: 5px;
}

.confirmation__table {
    margin: 0 15px;
    padding: 30px 0;
    color: #ffffff;
    text-align: left;
}

.confirmation__header {
    width: 90px;
    font-weight: normal;
}

.reservation__message {
    margin: 0 30px 0;
    color: #ffffff;
}

.reservation__form button {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40vw;
    height: 5%;
    background-color: #003ff5;
    border: none;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
