.restaurant__search-form {
    position: relative;
}

.search-form__item {
    width: 499px;
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 0;
}

.search-form__select-left {
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 3px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    box-shadow: 2px 2px 0.5px #a2a2a2;
    background-color: #ffffff;
}

.search-form__select-middle {
    width: 100px;
    height: 40px;
    margin: 0;
    padding: 3px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 2px 0.5px #a2a2a2;
    background-color: #ffffff;
}

.search-form__item i {
    position: relative;
}

.search-form__item i::before {
    position: absolute;
    left: -4px;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.search-form__input-right {
    width: 300px;
    height: 40px;
    margin: 0;
    padding: 3px 3px 3px 30px;
    font-size: 12px;
    border: none;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0 ;
    box-shadow: 2px 2px 0.5px #a2a2a2;
    background-color: #ffffff;
}

.restaurant__content {
    display: flex;
    flex-wrap: wrap;
}

.restaurant__card {
    width: 300px;
    margin: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 3px #a2a2a2;
}

.restaurant__img {
    width: 100%;
}

.restaurant__img img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.restaurant__text {
    padding: 20px;
}

.restaurant__text h2 {
    margin: 5px 0 5px;
}

.restaurant__tag {
    margin: 5px 0 5px;
}

.restaurant__option {
    margin: 5px 0 5px;
    display:flex;
    justify-content: space-between;
}

.restaurant__option-link button {
    padding: 5px 10px 5px;
    border: none;
    border-radius: 5px;
    background: #3560F6;
    color: #ffffff;
    cursor: pointer;
}

.favorite__form-button {
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
}

.favorite__form-button i {
    width: 100%;
    height: 100%;
    position: relative;
}

.favorite__form-button i::before {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.restaurant__review {
    align-items: center;
    display: flex;
    height: 24px;
    margin: 5px 0 5px 0;
}

.restaurant__review-evaluation {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0;
}

.restaurant__review-input {
    display: none;
}

.restaurant__review-label {
    color: #cccccc;
    font-size: 15px;
    padding: 0 3px;
}

.restaurant__review-input:checked~.restaurant__review-label {
    color: #feb908;
}

.restaurant__review-item {
    height: 24px;
    margin: 5px 0 5px 5px;
}