.login__content {
    width: 25vw;
    margin: 20vh auto 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 3px #a2a2a2;
}

.login-form__heading {
    height: 7vh;
    padding-left: 5%;
    border-radius: 5px 5px 0 0;
    display:flex;
    align-items: center;
    background-color:#3560F6;
}

.login-form__heading h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1vw;
    color: #ffffff;
}

.form {
    width: 80%;
    margin: 0 auto;
}

.form__input {
    width: 100%;
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}

.form__input i {
    width: 10%;
    position: relative;
}

.form__input i::before {
    position: absolute;
    bottom: 50%;
}

.form__input input {
    width: 80%;
    height: 3vh;
    border: none;
    border-bottom: 1.5px solid #202020;
    outline: none;
    appearance: none;
    font-size: 1vw;
}

.form__error {
    color: #ff0000;
    font-size: 1vw;
}

.form__button {
    text-align: right;
}

.form__button-submit {
    height: 3vh;
    margin: 4vh 0 2vh;
    padding: 0 5%;
    border: none;
    border-radius: 5px;
    background: #3560F6;
    color: #ffffff;
    font-size: 1vw;
    cursor: pointer;
}
