.reservation__content {
    margin: 0 0 0 30px;
}

.date__form {
    position: relative;
    background: #ffffff;
    width: 250px;
    height: 35px;
    margin: 30px 0;
    border: 1.5px solid #cccccc;
    border-radius: 15px;
}

.date__form-input {
    width: 100%;
    height: 100%;
    padding: 0 15px 0;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.date__form-label {
    position: absolute;
    top: 3px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    opacity: 1;
    font-weight: bold;
}

.reservation__day {
    display: flex;
    flex-wrap: wrap;
}

.reservation__card {
    position: relative;
    width: 300px;
    height: 270px;
    margin: 0 30px 30px 0;
    padding: 15px 0;
    color: #ffffff;
    background-color: #3560F6;
    border-radius: 5px;
    box-shadow: 2px 2px 0.5px #a2a2a2;
}

.reservation__delete-button {
    position: absolute;
    right: 15px;
    top: 30px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
}

.reservation__delete-button i {
    width: 100%;
    height: 100%;
}

.reservation__delete-button i::before {
    transform: translate(-50%, -50%);
}

.reservation__card > i {
    position: absolute;
    left: 15px;
    top: 30px;
    width: 20px;
    height: 20px;
}

.reservation__card > i::before {
    position: absolute;
    left: 0;
    top: 50%;
}

.reservation__card h3 {
    font-weight: normal;
    margin: 15px 0;
    padding: 0 0 0 60px;
}

.reservation__table {
    margin: 0 15px;
    text-align: left;
}

.reservation__row {
    height: 30px;
}

.reservation__header {
    width: 90px;
    font-weight: normal;
}

.reservation__description {
    width: 120px;
}

.reservation__link-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 90px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #3560F6;
    font-weight: bold;
    cursor: pointer;
}
