body {
    background-color: #eeeeee;
}

.header__inner {
    margin: 0;
    padding: 0;
    height: 8vh;
    padding-left: 3vw;
    display: flex;
    align-items: center;
}

/* チェックボックスを非表示にする */
.hamburger__input {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.hamburger__open {
    display: flex;
    height: 40px;
    width: 40px;
    margin-right: 1vw;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    /* 重なり順を一番上にする */
    cursor: pointer;
    background-color: #3560F6;
    border-radius: 5px;
    box-shadow: 2px 2px 0.5px #a2a2a2;
}

/* ハンバーガーメニューのアイコン */
.hamburger__open span:before {
    bottom: 8px;
    content: '';
    display: block;
    height: 1px;
    width: 12.5px;
    background: #ffffff;
    transition: 0.5s;
    position: absolute;
}

.hamburger__open span {
    content: '';
    display: block;
    height: 1px;
    width: 25px;
    background: #ffffff;
    transition: 0.5s;
    position: absolute;
}

.hamburger__open span:after {
    top: 8px;
    content: '';
    display: block;
    height: 1px;
    width: 6.25px;
    background: #ffffff;
    transition: 0.5s;
    position: absolute;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
.hamburger__input:checked~.hamburger__open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
.hamburger__input:checked~.hamburger__open span::before {
    bottom: 0;
    width: 25px;
    transform: rotate(45deg);
}

.hamburger__input:checked~.hamburger__open span::after {
    top: 0;
    width: 25px;
    transform: rotate(-45deg);
}

/* メニューのデザイン*/
.hamburger__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger__nav-list {
    list-style: none;
    text-align: center;
}

.hamburger__nav-link {
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    color: #3560F6;
    font-size: 2vw;
    cursor: pointer;
}

/* アイコンがクリックされたらメニューを表示 */
.hamburger__input:checked~.hamburger__nav {
    /* メニューを画面に入れる */
    pointer-events: auto;
    opacity: 1;
}

.header__inner h1 {
    margin: 0;
    font-size: 36px;
    color: #3560F6;
}

.thanks__content {
    width: 25vw;
    margin: 20vh auto 0;
    padding: 10vh 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 3px #a2a2a2;
}

.thanks__message {
    margin: 0;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}

.thanks__link {
    margin: 4vh 0 0;
    text-align: center;
}

.thanks__button {
    padding: 0.5vh 1vw;
    border: none;
    border-radius: 5px;
    background: #3560F6;
    color: #ffffff;
    font-size: 0.8vw;
    cursor: pointer;
}