.date__form {
    position: relative;
    background: #ffffff;
    width: 250px;
    height: 35px;
    margin: 30px 0 30px 30px;
    border: 1.5px solid #cccccc;
    border-radius: 15px;
}

.date__form-input {
    width: 100%;
    height: 100%;
    padding: 0 15px 0;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.date__form-label {
    position: absolute;
    top: 3px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    opacity: 1;
    font-weight: bold;
}

.reservation {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 30px
}

.reservation__card {
    position: relative;
    width: 300px;
    margin: 0 30px 30px 0;
    padding: 15px 0;
    color: #ffffff;
    background-color: #3560F6;
    border-radius: 5px;
    box-shadow: 2px 2px 0.5px #a2a2a2;
}

.reservation-history__card-ttl {
    margin: 0 0 15px 0;
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
}

.reservation-history__card-ttl i {
    display: flex;
    align-items: center;
}

.reservation-history__card-ttl h3 {
    font-weight: normal;
    margin: 0 0 0 5px;
    padding: 0;
}

.reservation__table {
    margin: 0 0 0 15px;
    text-align: left;
}

.reservation__row {
    height: 30px;
}

.reservation__header {
    width: 90px;
    font-weight: normal;
}

.reservation__description {
    width: 120px;
}

.reservation__link {
    margin: 0 15px 0 0;
    text-align: right;
}

.reservation__link-button {
    height: 30px;
    padding: 0 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #3560F6;
    font-weight: bold;
    cursor: pointer;
}

.reservation__card-ttl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
    padding: 0 15px 0 15px;
}

.card__ttl-left {
    display: flex;
    align-items: center;
}

.card__ttl-left i {
    display: flex;
    align-items: center;
}

.card__ttl-left h3 {
    font-weight: normal;
    margin: 0 0 0 5px;
    padding: 0;
}

.reservation__delete-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    cursor: pointer;
}

.reservation__delete-button i {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .date__form {
        margin: 30px auto 30px;
    }

    .reservation {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .reservation:after {
        content: '';
        width: 300px;
        margin: 0 30px 30px 0;
    }
}